<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/tailwind.css">
    <script src="https://kit.fontawesome.com/6fd3995802.js" crossorigin="anonymous"></script>
</head>
<body class="font-default bg-indigo-600">
<div class="text-center text-white py-5 px-2 md:px-20">
    <h1 class="text-5xl">RDeveloper</h1>
    <div class=" justify-center space-y-2 lg:space-x-10 text-xl my-5">
        <button class="font-light">Home</button>
        <button class="font-light">World</button>
        <button class="font-light">Indonesia</button>
        <button class="font-light">Asia</button>
        <button class="font-light">Technology</button>
        <button class="font-light">Programming</button>
        <button class="font-light">Business</button>
        <button class="font-light">Marketing</button>
        <button class="font-light">Fashion</button>
        <button class="font-light">About</button>
    </div>
    <div class="rounded-3xl bg-white text-black p-3 lg:p-10">
        <div class="rounded-3xl border border-gray-200 shadow-lg relative">
            <div class="absolute bottom-0 right-0 z-10 py-2 px-2 space-x-1">
                <button class="transition-all duration-300 bg-gray-600 opacity-80 hover:opacity-100 w-9 h-9 text-white rounded-full text-2xl">
                    <i class="fas fa-chevron-left m-auto align-middle"></i></button>
                <button class="transition-all duration-300 bg-gray-600 opacity-80 hover:opacity-100 w-9 h-9 text-white rounded-full text-2xl">
                    <i class="fas fa-chevron-right m-auto align-middle"></i></button>
            </div>
            <div class="relative rounded-3xl bg-white overflow-hidden">
                <div class="">
                    <div class="relative z-10 pb-8 bg-white w-full md:w-1/2">
                        <main class="mx-auto max-w-7xl px-4">
                            <div class="sm:text-center lg:text-left">
                                <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl py-5">
                                    <span class="block text-gray-800 xl:inline">Data to enrich your</span>
                                    <span class="block text-gray-600 xl:inline">online business</span>
                                </h1>
                                <p class="mt-3 text-base text-gray-400 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                                    Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat
                                    commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
                                </p>
                            </div>
                        </main>
                    </div>
                </div>
                <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 ">
                    <img class="w-full object-cover h-full rounded-r-3xl"
                         src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"
                         alt="">
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5 my-10">
            <div class="shadow-lg rounded-3xl bg-white max-w-2xl border border-gray-200 flex py-4 px-5">
                <div class="mr-2 w-full">
                    <h1 class="text-sm md:text-xl font-extrabold leading-4 md:leading-none">Lorem ipsum dolor sit
                        amet</h1>
                    <h4 class="text-gray-700 text-xs md:text-base">Jane Doe</h4>
                    <p class="text-xs md:text-sm text-gray-400 mt-2 max-w-sm max-h-11 md:max-h-full overflow-hidden">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mi sit amet aliquam
                        efficitur. Quisque nisi velit, iaculis at libero eu, aliquam aliquet tortor. Fusce et lorem
                        metus.
                    </p>
                    <button class="mt-5 md:mt-2 border-2 border-indigo-600 hover:bg-indigo-600 text-indigo-600 text-xs md:text-base hover:text-white px-3 pt-0.5 rounded-full">
                        Read More
                    </button>
                </div>
                <img class="object-cover m-auto w-1/2 md:w-40 h-32 md:h-40 rounded-3xl"
                     src="../public/img/asian-muslim-lady-looking-camera-talk-colleagues-about-plan-video-call-new-normal-office.jpg">
            </div>
            <div class="shadow-lg rounded-3xl bg-white max-w-2xl border border-gray-200 flex py-4 px-5">
                <div class="mr-2 w-full">
                    <h1 class="text-sm md:text-xl font-extrabold leading-4 md:leading-none">Lorem ipsum dolor sit
                        amet</h1>
                    <h4 class="text-gray-700 text-xs md:text-base">Jane Doe</h4>
                    <p class="text-xs md:text-sm text-gray-400 mt-2 max-w-sm max-h-11 md:max-h-full overflow-hidden">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mi sit amet aliquam
                        efficitur. Quisque nisi velit, iaculis at libero eu, aliquam aliquet tortor. Fusce et lorem
                        metus.
                    </p>
                    <button class="mt-5 md:mt-2 border-2 border-indigo-600 hover:bg-indigo-600 text-indigo-600 text-xs md:text-base hover:text-white px-3 pt-0.5 rounded-full">
                        Read More
                    </button>
                </div>
                <img class="object-cover m-auto w-1/2 md:w-40 h-32 md:h-40 rounded-3xl"
                     src="../public/img/asian-muslim-lady-looking-camera-talk-colleagues-about-plan-video-call-new-normal-office.jpg">
            </div>
        </div>
        <div class="md:flex space-x-5 lg:space-x-10 relative">
            <div class="py-2 min-h-screen w-full md:w-2/3">
                <div class="border rounded-3xl min-h-screen border-gray-200 shadow-lg px-5 text-left divide-y">
                    <div class="py-5">
                        <h1 class="text-3xl font-extrabold leading-7 md:leading-none">Lorem Ipsum dolor si amet</h1>
                        <h4 class="text-xs text-gray-400 mt-2 overflow-hidden">January 1, 2021 by Jane Doe</h4>
                        <p class="text-base text-gray-400 h-32 overflow-hidden leading-4 mt-2 overflow-hidden">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mi sit amet aliquam
                            efficitur. Quisque nisi velit, iaculis at libero eu, aliquam aliquet tortor. Fusce et lorem
                            metus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mi sit amet aliquam
                            efficitur. Quisque nisi velit, iaculis at libero eu, aliquam aliquet tortor. Fusce et lorem
                            metus.
                        </p>
                    </div>
                    <div class="py-5">
                        <h1 class="text-3xl font-extrabold leading-7 md:leading-none">Lorem Ipsum dolor si amet</h1>
                        <h4 class="text-xs text-gray-400 mt-2 overflow-hidden">January 1, 2021 by Jane Doe</h4>
                        <p class="text-base text-gray-400 h-32 overflow-hidden leading-4 mt-2 overflow-hidden">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mi sit amet aliquam
                            efficitur. Quisque nisi velit, iaculis at libero eu, aliquam aliquet tortor. Fusce et lorem
                            metus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mi sit amet aliquam
                            efficitur. Quisque nisi velit, iaculis at libero eu, aliquam aliquet tortor. Fusce et lorem
                            metus.
                        </p>
                    </div>
                    <div class="py-5">
                        <h1 class="text-3xl font-extrabold leading-7 md:leading-none">Lorem Ipsum dolor si amet</h1>
                        <h4 class="text-xs text-gray-400 mt-2 overflow-hidden">January 1, 2021 by Jane Doe</h4>
                        <p class="text-base text-gray-400 h-32 overflow-hidden leading-4 mt-2 overflow-hidden">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mi sit amet aliquam
                            efficitur. Quisque nisi velit, iaculis at libero eu, aliquam aliquet tortor. Fusce et lorem
                            metus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mi sit amet aliquam
                            efficitur. Quisque nisi velit, iaculis at libero eu, aliquam aliquet tortor. Fusce et lorem
                            metus.
                        </p>
                    </div>
                    <div class="py-5">
                        <h1 class="text-3xl font-extrabold leading-7 md:leading-none">Lorem Ipsum dolor si amet</h1>
                        <h4 class="text-xs text-gray-400 mt-2 overflow-hidden">January 1, 2021 by Jane Doe</h4>
                        <p class="text-base text-gray-400 h-32 overflow-hidden leading-4 mt-2 overflow-hidden">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mi sit amet aliquam
                            efficitur. Quisque nisi velit, iaculis at libero eu, aliquam aliquet tortor. Fusce et lorem
                            metus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mi sit amet aliquam
                            efficitur. Quisque nisi velit, iaculis at libero eu, aliquam aliquet tortor. Fusce et lorem
                            metus.
                        </p>
                    </div>
                    <div class="py-5">
                        <h1 class="text-3xl font-extrabold leading-7 md:leading-none">Lorem Ipsum dolor si amet</h1>
                        <h4 class="text-xs text-gray-400 mt-2 overflow-hidden">January 1, 2021 by Jane Doe</h4>
                        <p class="text-base text-gray-400 h-32 overflow-hidden leading-4 mt-2 overflow-hidden">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mi sit amet aliquam
                            efficitur. Quisque nisi velit, iaculis at libero eu, aliquam aliquet tortor. Fusce et lorem
                            metus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mi sit amet aliquam
                            efficitur. Quisque nisi velit, iaculis at libero eu, aliquam aliquet tortor. Fusce et lorem
                            metus.
                        </p>
                    </div>
                    <div class="py-5">
                        <h1 class="text-3xl font-extrabold leading-7 md:leading-none">Lorem Ipsum dolor si amet</h1>
                        <h4 class="text-xs text-gray-400 mt-2 overflow-hidden">January 1, 2021 by Jane Doe</h4>
                        <p class="text-base text-gray-400 h-32 overflow-hidden leading-4 mt-2 overflow-hidden">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mi sit amet aliquam
                            efficitur. Quisque nisi velit, iaculis at libero eu, aliquam aliquet tortor. Fusce et lorem
                            metus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mi sit amet aliquam
                            efficitur. Quisque nisi velit, iaculis at libero eu, aliquam aliquet tortor. Fusce et lorem
                            metus.
                        </p>
                    </div>
                    <div class="py-5">
                        <h1 class="text-3xl font-extrabold leading-7 md:leading-none">Lorem Ipsum dolor si amet</h1>
                        <h4 class="text-xs text-gray-400 mt-2 overflow-hidden">January 1, 2021 by Jane Doe</h4>
                        <p class="text-base text-gray-400 h-32 overflow-hidden leading-4 mt-2 overflow-hidden">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mi sit amet aliquam
                            efficitur. Quisque nisi velit, iaculis at libero eu, aliquam aliquet tortor. Fusce et lorem
                            metus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mi sit amet aliquam
                            efficitur. Quisque nisi velit, iaculis at libero eu, aliquam aliquet tortor. Fusce et lorem
                            metus.
                        </p>
                    </div>
                    <div class="py-5">
                        <h1 class="text-3xl font-extrabold leading-7 md:leading-none">Lorem Ipsum dolor si amet</h1>
                        <h4 class="text-xs text-gray-400 mt-2 overflow-hidden">January 1, 2021 by Jane Doe</h4>
                        <p class="text-base text-gray-400 h-32 overflow-hidden leading-4 mt-2 overflow-hidden">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mi sit amet aliquam
                            efficitur. Quisque nisi velit, iaculis at libero eu, aliquam aliquet tortor. Fusce et lorem
                            metus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum mi sit amet aliquam
                            efficitur. Quisque nisi velit, iaculis at libero eu, aliquam aliquet tortor. Fusce et lorem
                            metus.
                        </p>
                    </div>
                </div>
            </div>
            <div class="static md:sticky h-full top-0 py-2 w-full md:w-1/3 text-left">
                <div class="border rounded-3xl h-full border-gray-200 p-2 lg:p-5 shadow-lg space-y-5 lg:space-y-10">
                    <div class="rounded-3xl bg-gray-100 p-3 px-4">
                        <h1 class="text-4xl font-bold">About</h1>
                        <p class="text-sm leading-4 text-gray-400">Cras non ornare lorem. Etiam consequat nisi at tellus vestibulum sagittis. Morbi eget ipsum sapien. Maecenas tristique arcu a erat lobortis, ut viverra purus fringilla. Suspendisse accumsan dolor orci, in fermentum quam lobortis non. Donec ex erat, aliquam molestie odio eget, hendrerit fringilla ex.</p>
                    </div>
                    <div class="px-4">
                        <h1 class="text-4xl font-bold">Archives</h1>
                        <div class="px-4 lg:px-8">
                            <ul class="list-disc">
                                <li><a class="text-indigo-600" href="#">August 2021</a></li>
                                <li><a class="text-indigo-600" href="#">July 2021</a></li>
                                <li><a class="text-indigo-600" href="#">June 2021</a></li>
                                <li><a class="text-indigo-600" href="#">May 2021</a></li>
                                <li><a class="text-indigo-600" href="#">April 2021</a></li>
                                <li><a class="text-indigo-600" href="#">Maret 2021</a></li>
                                <li><a class="text-indigo-600" href="#">February 2021</a></li>
                                <li><a class="text-indigo-600" href="#">January 2021</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="px-4">
                        <h1 class="text-4xl font-bold">Category</h1>
                        <div class="space-y-1">
                            <button class="bg-indigo-600 rounded-full text-white px-2 pt-0.5">World</button>
                            <button class="bg-red-600 rounded-full text-white px-2 pt-0.5">Indonesia</button>
                            <button class="bg-pink-500 rounded-full text-white px-2 pt-0.5">Asia</button>
                            <button class="bg-blue-500 rounded-full text-white px-2 pt-0.5">Technology</button>
                            <button class="bg-green-600 rounded-full text-white px-2 pt-0.5">Programming</button>
                            <button class="bg-yellow-500 rounded-full text-white px-2 pt-0.5">Business</button>
                            <button class="bg-green-800 rounded-full text-white px-2 pt-0.5">Marketing</button>
                            <button class="bg-blue-900 rounded-full text-white px-2 pt-0.5">Fashion</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex justify-between text-white px-8 pb-2">
    <span class="text-xs">Made with <i class="fas fa-heart text-red-500"></i> by <a href="http://47.254.202.219/">ricko.tiaka</a></span>
    <span class="text-xs">Hi, I'm Ricko, Support me <a href="http://47.254.202.219/" class="bg-white text-indigo-600 rounded-full px-1 pt-0.5">here</a></span>
</div>
</body>
</html>