<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/tailwind.css">
    <script src="https://kit.fontawesome.com/6fd3995802.js" crossorigin="anonymous"></script>
</head>
<body class="font-default bg-gray-100">
<div class="h-screen w-screen bg-indigo-700 flex justify-center content-center flex-wrap">
    <div class="text-white text-center">
        <div class="my-5">
            <h1 class="text-9xl font-medium">
                404
            </h1>
            <h4 class="text-4xl">Ops! Page not found</h4>
            <h3 class="text-2xl font-light">Well, Something went wrong. Please try again</h3>

        </div>
    </div>
</div>
</body>
</html>