<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/tailwind.css">
    <script src="https://kit.fontawesome.com/6fd3995802.js" crossorigin="anonymous"></script>
</head>
<body class="font-default bg-gray-100">
<svg class="block transform rotate-180 absolute right-0 top-0 h-screen text-white z-0" viewBox="0 0 100 100"
     preserveAspectRatio="none" aria-hidden="true">
    <polygon style="fill: rgba(121,78,255,0.30)" points="0,20 100,0 100,20 0,100"/>
</svg>
<div class="relative">
    <div class="w-full flex bg-transparent z-10">
        <div class="w-1/3 text-left text-black py-5">
            <span class="px-5 font-bold">LOGO</span>
        </div>
        <div class="hidden md:block w-1/3 text-center text-black space-x-5 py-5">
            <button class="border-b-2 border-black font-bold">Home</button>
            <button class="font-bold">About</button>
            <button class="font-bold">Contact</button>
        </div>
        <div class="hidden md:block w-1/3 text-right text-black space-x-2 py-5 px-5">
            <button>Login</button>
            <button class="bg-indigo-600 text-white px-2 pt-0.5 rounded-full">Register</button>
        </div>
    </div>
    <div class="md:flex h-screen">
        <div class="md:w-1/2 m-auto text-center md:text-left font-bold text-4xl md:text-7xl transform md:-translate-y-1/3 px-2 md:px-5">
            <h1>Elegant,</h1>
            <h1 class="text-indigo-600">Beautiful UI/UX</h1>
            <p class="text-sm md:text-xl text-gray-500">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem
                cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
        </div>
        <div class="md:w-1/2">
            <img class="object-cover" src="../public/img/web1.png">
        </div>
    </div>
    <div class="flex justify-between text-black px-8 pb-2">
        <span class="text-xs">Made with <i class="fas fa-heart text-red-500"></i> by <a href="http://47.254.202.219/">ricko.tiaka</a></span>
        <span class="text-xs">Hi, I'm Ricko, Support me <a href="http://47.254.202.219/"
                                                           class="bg-white text-indigo-600 rounded-full px-1 pt-0.5">here</a></span>
    </div>
</div>
</body>
</html>