<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/tailwind.css">
    <script src="https://kit.fontawesome.com/6fd3995802.js" crossorigin="anonymous"></script>
</head>
<body class="font-default">
    <!-- Header -->
    <header class="fixed w-screen bg-gradient-to-b from-gray-700 to-transparent transition duration-300 z-50" id="navBar">
        <div>
            <div
                class="flex justify-between items-center md:justify-start px-5 py-5 sm:py-0 md:px-10 md:space-x-10">
                <div class="flex justify-start lg:w-0 lg:flex-1">
                    <a href="#" class="text-2xl uppercase font-bold text-white">
                        Logo
                    </a>
                </div>
                <div class="-mr-2 -my-2 md:hidden">
                    <button id="openMenu" type="button"
                        class="rounded-md p-1 inline-flex items-center justify-center text-gray-200 focus:outline-none"
                        aria-expanded="false">
                        <span class="sr-only">Open menu</span>
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
                <nav class="hidden md:flex space-x-10">
                    <a href="#" id="nav1" class="text-lg py-5 text-white hover:text-gray-200" onclick="navBar()">
                        Home
                    </a>
                    <a href="about.html" id="nav4" class="text-lg py-5 text-white hover:text-gray-200" onclick="navBar()">
                        About
                    </a>
                    <a href="product.html" id="nav2" class="text-lg py-5 text-white hover:text-gray-200" onclick="navBar()">
                        Products
                    </a>
                </nav>
                <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">

                </div>
            </div>
        </div>
        <div class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right hidden md:hidden z-50">
            <div class="rounded-lg shadow-lg ring-1 ring-gray-800 ring-opacity-5 bg-white divide-y-2 divide-gray-50">
                <div class="pt-5 pb-6 px-5">
                    <div class="flex items-center justify-between">
                        <div>
                            <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
                                alt="Workflow">
                        </div>
                        <div class="-mr-2">
                            <button id="closeMenu" type="button"
                                class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-white hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                                <span class="sr-only">Close menu</span>
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="mt-6">
                        <nav class="grid gap-y-8">
                            <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                                <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                                </svg>
                                <span class="ml-3 text-base text-gray-900">
                                    Analytics
                                </span>
                            </a>

                            <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                                <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
                                </svg>
                                <span class="ml-3 text-base text-gray-900">
                                    Engagement
                                </span>
                            </a>

                            <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                                <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                                </svg>
                                <span class="ml-3 text-base text-gray-900">
                                    Security
                                </span>
                            </a>

                            <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                                <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
                                </svg>
                                <span class="ml-3 text-base text-gray-900">
                                    Integrations
                                </span>
                            </a>

                            <a href="#" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
                                <svg class="flex-shrink-0 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                                </svg>
                                <span class="ml-3 text-base text-gray-900">
                                    Automations
                                </span>
                            </a>
                        </nav>
                    </div>
                </div>
                <div class="py-6 px-5 space-y-6">
                    <div class="grid grid-cols-2 gap-y-4 gap-x-8">
                        <a href="#" class="text-base text-gray-900 hover:text-gray-700">
                            Pricing
                        </a>

                        <a href="#" class="text-base text-gray-900 hover:text-gray-700">
                            Docs
                        </a>

                        <a href="#" class="text-base text-gray-900 hover:text-gray-700">
                            Help Center
                        </a>

                        <a href="#" class="text-base text-gray-900 hover:text-gray-700">
                            Guides
                        </a>

                        <a href="#" class="text-base text-gray-900 hover:text-gray-700">
                            Events
                        </a>

                        <a href="#" class="text-base text-gray-900 hover:text-gray-700">
                            Security
                        </a>
                    </div>
                    <div>
                        <a href="#"
                            class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base text-white bg-indigo-600 hover:bg-indigo-700">
                            Sign up
                        </a>
                        <p class="mt-6 text-center text-base text-white">
                            Existing customer?
                            <a href="#" class="text-indigo-600 hover:text-indigo-500">
                                Sign in
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->

    <!-- Content -->
    <div class="">
        <div class="h-screen">
            <div class="flex h-3/4 relative text-center mb-10 shadow-xl">
                <img class="w-screen object-cover" src="../public/img/panoramic-view-roys-peak-new-zealand-with-low-mountains-distance-cloudscape.jpg" alt="">
                <div class="absolute bottom-0 pb-10 bg-gradient-to-t from-gray-900 to-transparent w-full text-center">
                    <h1 class="text-white text-5xl mb-32 md:mb-36 md:text-8xl">
                        RDeveloper
                    </h1>
                </div>
            </div>
        </div>
        <div class="text-center -mt-32 mb-32">
            <div class="md:flex my-10">
                <img class="h-72 md:h-full w-96 md:w-1/2 object-cover" src="../public//img/asian-muslim-lady-looking-camera-talk-colleagues-about-plan-video-call-new-normal-office.jpg" alt="">
                <div class="w-screen md:mx-16 md:w-1/2 my-auto text-center md:text-left">
                    <h1 class="text-xl md:text-4xl my-10 md:my-0 mb-5 font-bold">Lorem Ipsum dolor sit amet consectetur adipisicing elit</h1>
                    <p class="px-2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi numquam incidunt, nobis sapiente ratione at perferendis maiores cum. Id soluta placeat repudiandae maxime ratione pariatur amet perferendis recusandae consequuntur repellat?
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="md:flex">
                <div class="w-full md:w-1/2 p-4 md:p-0 md:mx-16 my-auto text-left">
                    <h1 class="text-5xl mb-5 font-bold">What They said</h1>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi numquam incidunt, nobis sapiente ratione at perferendis maiores cum. Id soluta placeat repudiandae maxime ratione pariatur amet perferendis recusandae consequuntur repellat?
                </div>
                <div class="w-full md:w-1/2 grid grid-cols-1 md:grid-cols-2 grid-row-3 md:grid-rows-2">
                    <div class="md:row-span-2 relative">
                        <img class="h-full w-full filter grayscale contrast-50 object-cover" src="../public/img/picture-brunette-female-taking-selfie-with-beautiful-smile.jpg" alt="">
                        <div class="absolute bottom-0 h-full w-full">
                            <div class="bg-gray-800 h-full w-full opacity-40"></div>
                            <div class="absolute bottom-1/2 transform translate-y-1/2 py-5 text-white">
                                <div class="italic text-sm">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam ut soluta maiores quos ipsa iusto quaerat ratione, nihil vero commodi.
                                </div>
                                <h1>- Jane Doe -</h1>
                            </div>
                        </div>
                    </div>
                    <div class="relative">
                        <img class="h-full w-full filter grayscale contrast-50 object-cover" src="../public/img/thinking-woman-look-copy-space-isolated-grey-background-with-finger-face-asian-beauty.jpg" alt="">
                        <div class="absolute bottom-0 h-full w-full">
                            <div class="bg-gray-800 h-full w-full opacity-40"></div>
                            <div class="absolute bottom-1/2 transform translate-y-1/2 py-5 text-white">
                                <div class="italic text-sm">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus velit sapiente atque non quae eos
                                </div>
                                <h1>- Jane Doe -</h1>
                            </div>
                        </div>
                    </div>
                    <div class="relative">
                        <img class="h-full w-full filter grayscale contrast-50 object-cover" src="../public/img/young-asian-healthy-woman-sportswear-workout-home-exercise-fit-doing-yoga-home-sport-fitness-concept.jpg" alt="">
                        <div class="absolute bottom-0 h-full w-full">
                            <div class="bg-gray-800 h-full w-full opacity-40"></div>
                            <div class="absolute bottom-1/2 transform translate-y-1/2 py-5 text-white">
                                <div class="italic text-sm">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum fugiat, eius placeat dolor iste velit
                                </div>
                                <h1>- Jane Doe -</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center my-5">
            <div class="md:flex">
                <img class="h-72 md:h-full w-96 md:w-2/3 object-cover" src="../public//img/91374.png" alt="">
                <div class="w-screen md:mr-10 md:w-1/3 my-auto text-center md:text-left">
                    <h1 class="text-4xl md:text-6xl my-10 md:my-0 mb-5 font-bold">Our Value</h1>
                    <div class="grid grid-rows-3 gap-2">
                        <div class="bg-white md:flex">
                            <div class="p-5">
                                <i class="bg-gray-200 p-5 rounded-full text-4xl fas fa-feather-alt"></i>
                            </div>
                            <div class="m-auto">
                                <h1 class="text-xl font-semibold">Light</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus voluptatum eligendi atque laudantium</p>
                            </div>
                        </div>
                        <div class="bg-White md:flex">
                            <div class="p-5">
                                <i class="bg-gray-200 p-5 rounded-full text-4xl fas fa-magic"></i>
                            </div>
                            <div class="m-auto">
                                <h1 class="text-xl font-semibold">Elegant</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus voluptatum eligendi atque laudantium</p>
                            </div>
                        </div>
                        <div class="bg-white md:flex">
                            <div class="p-5">
                                <i class="bg-gray-200 p-5 rounded-full text-3xl fas fa-hand-holding-usd"></i>
                            </div>
                            <div class="m-auto">
                                <h1 class="text-xl font-semibold">Inexpensive</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus voluptatum eligendi atque laudantium</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-20 relative">
            <div class="absolute top-1/2 transform -translate-y-1/2 pt-52 bg-gray-200 w-full h-52">
            </div>
            <div class="px-5 md:px-52 grid grid-cols-1 md:grid-cols-2 gap-10 relative z-10">
                <div class="bg-white shadow-xl transition duration-200 hover:ring-4 hover:ring-gray-800 text-center text-white">
                    <div class="h-44 p-5 bg-gray-900">
                        <i class="py-5 px-5 rounded-full text-3xl text-gray-900 bg-white fas fa-user"></i>
                        <h1 class="text-5xl font-bold mt-5">Solo/<span class="text-3xl font-normal"><span class="text-4xl font-bold">$</span>9.39</span></h1>
                    </div>
                    <div class="py-5 px-5 md:px-20 bg-gray-900">
                        <ul class="text-left">
                            <li class="my-2"><i class="text-red-600 fas fa-minus mr-2"></i>Multi Users Access</li>
                            <li class="my-2"><i class="text-red-600 fas fa-minus mr-2"></i>3 Based Template</li>
                            <li class="my-2"><i class="text-red-600 fas fa-minus mr-2"></i>3 Month Training</li>
                            <li class="my-2"><i class="text-green-600 fas fa-check mr-2"></i>Access RDev Librarys</li>
                            <li class="my-2"><i class="text-red-600 fas fa-minus mr-2"></i>Access RDev JS Components</li>
                            <li class="my-2"><i class="text-red-600 fas fa-minus mr-2"></i>2-year Premium Domain</li>
                            <li class="my-2"><i class="text-red-600 fas fa-minus mr-2"></i>2-year Hosting</li>
                            <li class="my-2"><i class="text-green-600 text-green-600 fas fa-check mr-2"></i>1-year Free Domain</li>
                            <li class="my-2"><i class="text-green-600 fas fa-check mr-2"></i>1-year Free Hosting</li>
                        </ul>
                    </div>
                    <div class="h-20 p-5 bg-gray-900">
                        <button class="h-10 w-52 text-xl text-white bg-red-400 hover:bg-red-500 rounded-2xl border-2 border-gray-300">ORDER NOW</button>
                    </div>
                </div>
                <div class="bg-white shadow-xl transition duration-200 hover:ring-4 hover:ring-gray-800 text-center">
                    <div class="h-44 p-5 bg-white">
                        <i class="py-5 px-4 rounded-full text-3xl fas fa-users"></i>
                        <h1 class="text-5xl font-bold mt-5">Team/<span class="text-3xl font-normal"><span class="text-4xl font-bold">$</span>18.39</span></h1>
                    </div>
                    <div class="py-5 px-5 md:px-20">
                        <ul class="text-left">
                            <li class="my-2"><i class="text-green-600 fas fa-check mr-2"></i>Multi Users Access</li>
                            <li class="my-2"><i class="text-green-600 fas fa-check mr-2"></i>3 Based Template</li>
                            <li class="my-2"><i class="text-green-600 fas fa-check mr-2"></i>3 Month Training</li>
                            <li class="my-2"><i class="text-green-600 fas fa-check mr-2"></i>Access RDev Librarys</li>
                            <li class="my-2"><i class="text-green-600 fas fa-check mr-2"></i>Access RDev JS Components</li>
                            <li class="my-2"><i class="text-green-600 fas fa-check mr-2"></i><span class="bg-yellow-400 rounded-full py-1 px-2">2-year Premium Domain</span></li>
                            <li class="my-2"><i class="text-green-600 fas fa-check mr-2"></i><span class="bg-yellow-400 rounded-full py-1 px-2">2-year Hosting</span></li>
                            <li class="my-2"><i class="text-green-600 fas fa-check mr-2"></i>1-year Free Domain</li>
                            <li class="my-2"><i class="text-green-600 fas fa-check mr-2"></i>1-year Free Hosting</li></li>
                        </ul>
                    </div>
                    <div class="h-20 p-5 bg-white">
                        <button class="h-10 w-52 text-xl text-white bg-indigo-400 hover:bg-indigo-500 rounded-2xl border-2 border-gray-300">ORDER NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->

    <!-- Footer -->
    <footer class="bg-gray-800 px-10 py-5 text-white">
        <div class="grid grid-cols-2 md:grid-cols-6 border-b-2 gap-y-10 md:gap-y-0 md:gap-x-10  border-gray-600 pb-10">
            <div class="text-lg font-light">
                <h1 class="mb-4 font-medium uppercase">Solutions</h1>
                <ul class="list-none text-gray-300">
                    <li class="my-1 hover:text-gray-50 cursor-pointer">Marketing</li>
                    <li class="my-1 hover:text-gray-50 cursor-pointer">Analytics</li>
                    <li class="my-1 hover:text-gray-50 cursor-pointer">Commerce</li>
                    <li class="my-1 hover:text-gray-50 cursor-pointer">Insights</li>
                </ul>
            </div>
            <div class="text-lg font-light">
                <h1 class="mb-4 font-medium uppercase">Company</h1>
                <ul class="list-none text-gray-300">
                    <li class="my-1 hover:text-gray-50 cursor-pointer">About</li>
                    <li class="my-1 hover:text-gray-50 cursor-pointer">Blog</li>
                    <li class="my-1 hover:text-gray-50 cursor-pointer">Careers</li>
                    <li class="my-1 hover:text-gray-50 cursor-pointer">Clients</li>
                    <li class="my-1 hover:text-gray-50 cursor-pointer">Partners</li>
                </ul>
            </div>
            <div class="text-lg font-light">
                <h1 class="mb-4 font-medium uppercase">Support</h1>
                <ul class="list-none text-gray-300">
                    <li class="my-1 hover:text-gray-50 cursor-pointer">Pricing</li>
                    <li class="my-1 hover:text-gray-50 cursor-pointer">Documentation</li>
                    <li class="my-1 hover:text-gray-50 cursor-pointer">Guides</li>
                    <li class="my-1 hover:text-gray-50 cursor-pointer">API Product</li>
                </ul>
            </div>
            <div class="text-lg font-light">
                <h1 class="mb-4 font-medium uppercase">Legal</h1>
                <ul class="list-none text-gray-300">
                    <li class="my-1 hover:text-gray-50 cursor-pointer">Claim</li>
                    <li class="my-1 hover:text-gray-50 cursor-pointer">Privacy</li>
                    <li class="my-1 hover:text-gray-50 cursor-pointer">Terms</li>
                </ul>
            </div>
            <div class="col-span-2 text-lg font-light">
                <h1 class="mb-4 font-medium uppercase">Subscribe to our Newsletter</h1>
                <p class="text-sm text-gray-300 my-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolorum sit soluta accusamus dolores est quisquam voluptatum magni nobis</p>
                <form>
                    <input class="border border-transparent rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent px-4 py-1 text-gray-800 mr-1" placeholder="Your Email">
                    <button class="bg-gray-600 hover:bg-pink-500 text-white rounded-xl focus:outline-none focus:ring-2 px-2 py-1 mt-2 sm:mt-0">
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
        <div class="text-center md:text-left my-2">
            <span class="text-sm mr-1">Made with <i class="text-red-600 fas fa-heart"></i> by <a href="https://www.instagram.com/ricko.tiaka/" target="_blank">ricko.tiaka</a></span>
            <div class="md:float-right">
                <button>
                    <img class="w-7 h-7 mx-1" src="https://img.icons8.com/ios-filled/500/ffffff/facebook-new.png" />
                </button>
                <button>
                    <img class="w-7 h-7 mx-1"
                         src="https://img.icons8.com/material-outlined/480/ffffff/instagram-new--v1.png" />
                </button>
                <button>
                    <img class="w-7 h-7 mx-1" src="https://img.icons8.com/material-outlined/480/ffffff/globe--v2.png" />
                </button>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
</body>
</html>