<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/tailwind.css">
    <script src="https://kit.fontawesome.com/6fd3995802.js" crossorigin="anonymous"></script>
</head>
<body class="font-default bg-gray-100">
<div class="relative">
    <img class="static h-screen w-full object-cover"
         src="../public/img/asia-business-woman-success-celebration-keeping-arms-raised-home-office.jpg">
    <div class="absolute top-0 right-0 w-full h-full md:w-96 p-4">
        <div class="text-center bg-white h-full w-full rounded-xl shadow-xl py-5">
            <div class="absolute md:top-1/2 transform md:-translate-y-1/2">
                <div class="mb-10">
                    <div class="text-5xl font-bold">Welcome</div>
                    <div class="text-lg font-light leading-3">Sign in to your account</div>
                </div>
                <div class="mx-10 my-10">
                    <div class="flex">
                        <input type="text"
                               class="flex-1 block w-1/2 rounded-tl-xl focus:outline-none px-3 py-1.5 border border-b-0 border-gray-300"
                               placeholder="First Name">
                        <input type="text"
                               class="flex-1 block w-1/2 rounded-tr-xl border-l-0 focus:outline-none px-3 py-1.5 border border-b-0 border-gray-300"
                               placeholder="Last Name">
                    </div>
                    <input type="email"
                           class="flex-1 block w-full focus:outline-none px-3 py-1.5 border border border-b-0 border-gray-300"
                           placeholder="Email">
                    <input type="password"
                           class="flex-1 block w-full focus:outline-none px-3 py-1.5 border border border-gray-300"
                           placeholder="Password">
                    <input type="date"
                           class="flex-1 block w-full rounded-b-xl focus:outline-none px-3 py-1.5 border border-t-0 border-gray-300"
                           placeholder="Password">
                    <div class="flex items-start pl-1 mt-2 mx-1">
                        <div class="flex items-center h-5">
                            <input type="checkbox" class="m-auto h-4 w-4 rounded">
                        </div>
                        <div class="ml-2 text-sm">
                            <label class="font-medium text-gray-700">I agree with the Privacy Policy</label>
                        </div>
                    </div>
                    <div class="flex items-start pl-1 mt-2 mx-1">
                        <div class="flex items-center h-5">
                            <input type="checkbox" class="m-auto h-4 w-4 rounded">
                        </div>
                        <div class="ml-2 text-sm">
                            <label class="font-medium text-gray-700">Subscribe for Newsletter</label>
                        </div>
                    </div>
                </div>
                <div class="mx-10 mt-10">
                    <div class="m-auto flex space-x-5">
                        <button class="bg-indigo-500 text-xl text-white text-center rounded-md shadow-md w-full px-5 py-1"><span
                                class="align-text-top">Sign up</span></button>
                    </div>
                    <div class="mt-10 pt-3 border-t-2 space-x-2">
                        <h1 class="text-gray-500 mb-2">register with</h1>
                        <button class="bg-blue-700 focus:bg-blue-800 transition duration-150 text-white text-xl text-center rounded-full shadow-md w-8 h-8 px-1 py-0.5 pt-1">
                            <i class="fab fa-facebook"></i></button>
                        <button class="bg-red-600 focus:bg-red-600 transition duration-150 text-white text-xl text-center rounded-full shadow-md w-8 h-8 px-1 py-0.5 pt-1">
                            <i class="fab fa-google"></i></button>
                        <button class="bg-blue-500 focus:bg-blue-600 transition duration-150 text-white text-xl text-center rounded-full shadow-md w-8 h-8 pt-0.5">
                            <i class="fab fa-twitter"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>