<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/tailwind.css">
    <script src="https://kit.fontawesome.com/6fd3995802.js" crossorigin="anonymous"></script>
</head>
<body class="font-default bg-gray-100">
<div class="h-72 w-screen bg-indigo-600 flex justify-center content-center flex-wrap">
    <div class="w-full mx-5 md:mx-52">
        <div class="flex rounded-md shadow-sm shadow-xl mb-2">
            <input type="email" class="flex-1 block w-full rounded-l-xl focus:outline-none text-lg px-3 py-1" placeholder="Search what you want to know">
            <button class="inline-flex items-center rounded-r-xl border-l-0 border border-indigo-100 bg-indigo-100 text-white w-14 h-14 text-lg">
                <i class="fas fa-search text-gray-600 text-2xl m-auto"></i>
            </button>
        </div>
    </div>
</div>
<div class="my-10 mx-2 md:mx-32">
    <div class="shadow-xl border-2 rounded-xl p-5 divide-y-2">
        <div class="py-5">
            <h1 class="text-4xl font-medium">Lorem Ipsum dolor sit amet</h1>
            <p class="text-sm text-gray-500 my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec sodales nunc, eu pretium nisl. Nam porta vel quam non bibendum. Nullam ut eros turpis. Duis blandit metus ut nulla posuere, a semper metus consequat. In pellentesque at elit vel fermentum. Sed ut nibh metus. Etiam porttitor ornare augue ac pellentesque. Ut scelerisque bibendum venenatis. Morbi a quam viverra odio egestas volutpat. Suspendisse porttitor semper erat, sed euismod felis maximus nec. Nulla facilisi. Aenean sagittis massa risus, nec iaculis nibh dapibus id. Mauris in dictum est. Praesent nec est ac dolor ultricies fringilla et ut enim.</p>
            <button class="text-indigo-600 text-xl">Read more</button>
        </div>
        <div class="py-5">
            <h1 class="text-4xl font-medium">Lorem Ipsum dolor sit amet</h1>
            <p class="text-sm text-gray-500 my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec sodales nunc, eu pretium nisl. Nam porta vel quam non bibendum. Nullam ut eros turpis. Duis blandit metus ut nulla posuere, a semper metus consequat. In pellentesque at elit vel fermentum. Sed ut nibh metus. Etiam porttitor ornare augue ac pellentesque. Ut scelerisque bibendum venenatis. Morbi a quam viverra odio egestas volutpat. Suspendisse porttitor semper erat, sed euismod felis maximus nec. Nulla facilisi. Aenean sagittis massa risus, nec iaculis nibh dapibus id. Mauris in dictum est. Praesent nec est ac dolor ultricies fringilla et ut enim.</p>
            <button class="text-indigo-600 text-xl">Read more</button>
        </div>
    </div>
</div>
</body>
</html>